.header {
    height: 90px;
    width: 100%;
    padding: 20px 20px 0 20px;
    background-color: #007bff;
    color: #fff;
    font-family: 'MS UI Gothic','sans-serif';
    font-size: 35px;
}

.contents {
    font-size: 20px;
    font-family: 'Impact','sans-serif';
}

.quizheader {
    height: 90px;
    width: 100%;
    padding: 20px 20px 0 20px;
    background-color: #6b493d;
    color: #fff;
    font-family: 'MS UI Gothic','sans-serif';
    font-size: 35px;
    font-weight: bold;
}

.quizcontents {
    font-size: 30px;
    font-family: 'sans-serif';
    padding: 20px 20px 0 20px;
}

.quizanswer {
    font-size: 30px;
    font-family: 'Impact','sans-serif';
    padding: 20px 20px 0 20px;
    color: red;
}

.body {
    background-color:lightyellow;
}