{% extends "layout_quiz.html" %}


{% block title %}
球状コンクリーションクイズ
{% endblock %}


{% block quiz %}
この中で球状コンクリーションの中で発見されていないものはどれでしょう？
{% endblock %}


{% block picture %}
"/static/images/concretion_silhouette.png"
{% endblock %}


{% block answer1 %}
"location.href='./concretion_incorrect'"
{% endblock %}


{% block choice1 %}
①カニ
{% endblock %}


{% block answer2 %}
"location.href='./concretion_correct'"
{% endblock %}


{% block choice2 %}
②ヒト
{% endblock %}


{% block answer3 %}
"location.href='./concretion_incorrect'"
{% endblock %}


{% block choice3 %}
③葉っぱ
{% endblock %}


