{% extends "layout.html" %}
{% block content %}
<div class='contents'>
  <h1>ログイン</h1>
  <p>googleフォームと同じメールアドレスを入力してください。</p>
</div>
<form action="/" method="post">
  <div class="mb-3 col-6 mx-auto">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button type="submit" class="btn btn-primary">ログイン</button>
  </div>
</form>

{% endblock %}
