{% extends "layout.html" %}
{% block content %}

<div class='quizheader'>
  {{title}}
</div>

<br>

<div class='quizcontents'>
  問題
  <br>
  {{ message }}


  <br><br>
  
  <center>
    <img src={{picture}} width = "400px" height = "auto" border="4px">
  </center>

  <br><br>
  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-success btn-lg" onclick = {{answer1}} role = "button">{{choice1}}</a>
  </div>
        
  <br>
        
  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-success btn-lg" onclick = {{answer2}} role = "button">{{choice2}}</a>
  </div>
  
  <br>
        
  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-success btn-lg" onclick = {{answer3}} role = "button">{{choice3}}</a>
  </div>
  
  <br><br>
  
</div>


{% endblock %}
