{% extends "layout_quiz.html" %}
{% block content %}
<div class = 'quizheader'>
  ウミユリに関するクイズ
</div>
    	
<br>

<div class = 'body'>
  <div class = 'quizcontents'>
    問題3　ウミユリっていつから生きているの？
  </div>
  
  <br><br>
  
  <center>
    <img src="/static/images/1_umiyurikun_siruetto.png" width = "400px" height = "auto" border="4px">
  </center>
  
  <br><br>
  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-success btn-lg" href = "metacrinuscorrect" role = "button">約500,000,000～250,000,000年前から</a>
  </div>
        
  <br>
        
  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-success btn-lg" href = "metacrinusincorrect" role = "button">約250,000,000～150,000,000年前から</a>
  </div>
  
  <br>
        
  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-success btn-lg" href = "metacrinusincorrect" role = "button">約150,000,000年前から</a>
  </div>
  
  <br><br>
  
</div>
{% endblock %}

