{% extends "layout_quiz.html" %}


{% block title %}
縞状鉄鉱層クイズ
{% endblock %}


{% block quiz %}
Q. 縞状鉄鉱層はいつできた？　　

{% endblock %}


{% block picture %}
"/static/images/tetsuo_silhouette.png"
{% endblock %}


{% block answer1 %}
"location.href='./tetsuo_incorrect'"
{% endblock %}


{% block choice1 %}
①約30万年前
{% endblock %}


{% block answer2 %}
"location.href='./tetsuo_incorrect'"
{% endblock %}


{% block choice2 %}
②約3000万年前
{% endblock %}


{% block answer3 %}
"location.href='./tetsuo_correct'"
{% endblock %}


{% block choice3 %}
③約30億年前
{% endblock %}


